trained_models/CNN_binary_3D_Map_person_1/my-model.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
trained_models/CNN_range_3D_BIWI/my-model.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
