build/
*.user
*.pro
*.backup
*.autosave
deploymentCommands
releases/
bin/
benchmark/saved_clouds
embedded_python/__pycache__
trained_models/CNN_binary_3D_Map_person_1
trained_models/CNN_range_3D_BIWI
trained_models/CNN_range_SemanticKITTI
temp/
